@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$material-primary: mat-palette($mat-cyan);
$material-accent:  mat-palette($mat-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$material-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$material-theme: mat-light-theme($material-primary, $material-accent, $material-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme( $material-theme );