/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Global variables ///////////////////////////////
///////////////////////////////////////////////////////////////////////////////

// —————————————————————— Colors ——————————————————————
$color-bg: #F4F4F4;

$palette-blue: #3498db;

// ——————————————————————— Geo ———————————————————————
$padding: 15px;

// —————————————————————— Fonts ——————————————————————
$default-font: Arial;
@mixin default-font {
  font-family: $default-font;
}